<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".OrganizerApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Organizer">

        <activity
            android:name=".ui.onboarding.SplashActivity"
            android:exported="false" />

        <activity-alias
            android:name=".LauncherDefault"
            android:targetActivity=".ui.onboarding.SplashActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherOwnerInfo"
            android:targetActivity=".ui.onboarding.SplashActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_alias_owner_info"
            android:label="@string/alias_name_owner_info">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherCalculator"
            android:targetActivity=".ui.onboarding.SplashActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_alias_calculator"
            android:label="@string/alias_name_calculator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherMusic"
            android:targetActivity=".ui.onboarding.SplashActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_alias_music"
            android:label="@string/alias_name_music">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.onboarding.PinSetupActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".ui.notes.NoteEditorActivity"
            android:exported="false" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.pinned.PinnedActivity"
            android:exported="false" />

    </application>

</manifest>
